@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  
   background-image: url(https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif?cid=790b76119lbckx20mhng0oc6agmf81vmgv9hp31b2s50fair&ep=v1_gifs_search&rid=giphy.gif&ct=g);  
   background-color: black;
  background-size:cover ;
  background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#head1{
  display: inline-flex;
  list-style-type: none;
  color: #E0E0E0;
 
}

ul li{
   margin: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 30px;
  font-weight: 600;
}  

#head{
   
  text-align: center;
  width: auto;
 overflow: hidden; 
 
}

#link{
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px 3px ;
  margin: 30px;
}

#link:hover{
  text-decoration: overline;
}

.text2{
  font-size: 35px;
  font-weight: 600;
}
#sidebar{
  position: fixed;
right: 0px;
top: 0px;
width: 280px;
height: 100vh;
background-color: rgba(165, 153, 153, 0.6);
box-shadow: 1px 4px 5px 6px rgba(165, 153, 153, 0.9);
}

@media (min-width:720px){
  #sidebar{
    display: none;
  }
}
@media (max-width:722px){
  #head{
    display: none;
  }
  #head1{
   margin-top: 100px;
  }
 

}
.menu{
   display: flex;
  flex-direction: column;
  margin-top: 50px; 
}

.butto{
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin: 10px;
  right: 0px;
}

#sidebar {
  width: 250px;
  height: 100%;
  background-color:  rgba(0, 0, 1, 0.7);;;
  position: fixed;
  top: 0;
  right: -250px; 
  transition: left 0.3s ease;

}

#sidebar.active {
  right: 0; 
}

 .butto {
  position: fixed;
  top: 20px;
  right: 20px;
} 

#ulb{
  display: inline-flex;

}

#port{
  
  margin-right: 130px;
}  

@media (min-width: 398px) and (max-width: 430px){
   #port{
    margin-right: 180px;
   }
}

@media (min-width: 230px) and (max-width: 340px){
  #port{
   margin-right: 40px;
  }
}

@media (min-width: 317px) and (max-width: 398px){
  #port{
   margin-right: 100px;
  }
}
@media (min-width: 431px) and (max-width: 456px){
  #port{
   margin-right: 220px;
  }
}

@media (min-width: 457px) and (max-width: 486px){
  #port{
   margin-right: 240px;
  }
}

@media (min-width: 486px) and (max-width: 500px){
  #port{
   margin-right: 260px;
  }
}

@media (min-width: 500px) and (max-width: 550px){
  #port{
   margin-right: 285px;
  }
}
@media (min-width: 550px) and (max-width: 580px){
  #port{
   margin-right: 320px;
  }
}

@media (min-width: 580px) and (max-width: 630px){
  #port{
   margin-right: 368px;
  }
}

@media (min-width: 630px) and (max-width: 680px){
  #port{
   margin-right: 410px;
  }
}

@media (min-width: 680px) and (max-width: 720px){
  #port{
   margin-right: 460px;
  }
}


#text{
  color: aliceblue;
  font-size: 30px;
  margin: 120px;
  
}

#animat{
  margin: 130px;
}

#myself{
  width: 300px;  
    height: 300px;  
    border-radius: 50%;  
    object-fit: cover;
    float:right;
margin-top: -50px;
margin-left: -40px;
border: 3px solid seashell;
box-shadow: 3px 4px 5px 6px seashell;
}

.text3{
  width: 600px;
}

@media (min-width:170px) and (max-width:377px){
  
  #animat{
  text-align: justify;
    display: flex;
    align-items: center;
   
  }

  #text2{
    text-align: center;
  }
 
   #text{
   
    font-size: 22px;
    overflow-x: hidden;
  float: inline-start;
   margin: -80px;
  margin-top: 120px;
   border: 4px solid beige;
   border-radius: 9px;
   display: block;
   text-align: justify;
   align-items: center;
   box-shadow: 3px 4px 5px 9px ;
   }

   .text3{
    width: auto;
    text-align: center;
   }

   #myself{

    width: 100px;  
    height: 100px; 
    object-fit: cover;
    position: absolute;  
    top: 200px;  
    left: 50%;    
    transform: translateY(-50%);
    border: 3px solid whitesmoke;
    box-shadow: 3px 4px 5px 6px seashell ; 
   }
} 

@media (min-width:377px) and (max-width:600px){
  
  #animat{
  text-align: center;
    display: flex;
    align-items: center;
   
  }

  #text2{
    text-align: center;
  }
 
   #text{
   
    font-size: 22px;
    overflow-x: hidden;
  float: inline-start;
   margin: -80px;
  margin-top: 220px;
   border: 4px solid beige;
   border-radius: 9px;
   display: block;
   text-align: center;
   align-items: center;
   box-shadow: 3px 4px 5px 9px ;
   width: 700px;
   }

   .text3{
    width:auto;
    text-align: center;
   
   }

   #myself{

    width: 170px;  
    height: 170px; 
    object-fit: cover;
    position: absolute;  
    top: 250px;  
    left: 38%;    
    transform: translateY(-50%); 
    border: 3px solid whitesmoke;
    box-shadow: 3px 4px 5px 6px seashell ;
   }
} 

@media (min-width:600px) and (max-width:721px){
  
  #animat{
  text-align: center;
    display: flex;
    align-items: center;
   
  }

  #text2{
    text-align: center;
  }
 
   #text{
   
    font-size: 22px;
    overflow-x: hidden;
  float: inline-start;
   margin: -80px;
  margin-top: 260px;
   border: 4px solid beige;
   border-radius: 9px;
   display: block;
   text-align: center;
   align-items: center;
   box-shadow: 3px 4px 5px 9px ;
   }
   .text3{
    width:auto;
    text-align: center;
   
   }

   #myself{

    width: 250px;  
    height: 250px; 
    object-fit: cover;
    position: absolute;  
    top: 240px;  
    left: 38%;    
    transform: translateY(-50%); 
    border: 3px solid seashell;
    box-shadow: 3px 4px 5px 6px seashell;
  
   }
} 


@media (min-width:721px) and (max-width:789px){
  
 


 
   #text{
   
    font-size: 22px;
    overflow-x: hidden;
  float: inline-start;
   margin: -80px;
   display: block;
   
   }
   .text3{
    width: 400px;
   
   }

   #myself{

    width: 250px;  
    height: 250px; 
    object-fit: cover;
    position: absolute;  
     float: left;   
    left: 500px;
    margin-top: -25px;
    transform: translateY(0);   
     border: 3px solid seashell;
    box-shadow: 3px 4px 5px 6px seashell;
  

   }
} 

@media (min-width:789px) and (max-width:905px){
  


 
   #text{
   
    font-size: 22px;
    overflow-x: hidden;
  float: inline-start;
   margin: -80px;
   display: block;
   
   }
   .text3{
    width: 400px;
   
   }

   #myself{

    width: 250px;  
    height: 250px; 
    object-fit: cover;
    position: absolute;  
     float: left;   
    left: 580px;
    margin-top: -25px;
    transform: translateY(0);   
     border: 3px solid seashell;
    box-shadow: 3px 4px 5px 6px seashell;
  

   }
} 

@media (min-width:905px) and (max-width:1000px){
  
  /* #animat{
  text-align: center;
    display: flex;
    align-items: center;
   
  } */


 
   #text{
   
    font-size: 22px;
    overflow-x: hidden;
  float: inline-start;
   margin: -80px;
   display: block;
   
   }
   .text3{
    width: 400px;
   
   }

   #myself{

    width: 250px;  
    height: 250px; 
    object-fit: cover;
    position: absolute;  
     float: left;   
    left: 700px;
    margin-top: -25px;
    transform: translateY(0);   
     border: 3px solid seashell;
    box-shadow: 3px 4px 5px 6px seashell;
  

   }
} 

@media (min-width:1000px) and (max-width:1290px){
  
  /* #animat{
  text-align: center;
    display: flex;
    align-items: center;
   
  } */


 
   #text{
   
    font-size: 22px;
    overflow-x: hidden;
  float: inline-start;
   margin: -80px;
   display: block;
   
   }
   .text3{
    width: 400px;
   }

   #myself{

    width: 250px;  
    height: 250px; 
    object-fit: cover;
    position: absolute;  
     float: left;   
    left: 800px;
    margin-top: -25px;
    transform: translateY(0);   
     border: 3px solid seashell;
    box-shadow: 3px 4px 5px 6px seashell;
  

   }
}




















body{
  overflow-x: hidden;
}

.border{
 margin-top: 80px;
  width: auto;
  height: 100%;
  border: 4px solid seashell;
  box-shadow: 2px 3px 6px rgb(79, 78, 77);
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
color: rgb(179, 170, 170);
font-size: 35px;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: oblique;
font-weight: 600;
cursor: pointer;
}
.border:hover{
 background-color: rgba(0,0,0,0.4);
}

.boss{
  display:flex;
  align-items: center;
}
.box3{
  background-color: rgba(0,0,0,0.2);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(135, 130, 130);
  width: 20%;
  height: 20vh;
  margin: 50px;
  text-align: center;
  margin-left: 160px;
  margin-bottom: 100px;
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 2px 3px 6px 9px rgb(255, 255, 255);
}
.box3:hover{
  box-shadow: 2px 3px 6px 9px rgb(165, 164, 164,0.6);
}

.line{
 width: 140px;
 background-color: rgb(231, 222, 222);
 height: 15px;
 margin-top: 20px;
 border-radius: 6px;
 animation: line 15s;
}

.doubleline{
  width: 150px;
  background-color: rgb(76, 70, 70);
  border-radius: 7px;
}

.line1{
  width: 130px;
  background-color: rgb(231, 222, 222);
  height: 15px;
  margin-top: 20px;
  border-radius: 6px;
  animation: line 15s;
}

.line2{
  width: 105px;
  background-color: rgb(231, 222, 222);
  height: 15px;
  margin-top: 20px;
  border-radius: 6px;
  animation: line 15s;
}

.line3{
  width: 80px;
  background-color: rgb(231, 222, 222);
  height: 15px;
  margin-top: 20px;
  border-radius: 6px;
  animation: line 15s;
}

.line4{
  width: 80px;
  background-color: rgb(231, 222, 222);
  height: 15px;
  margin-top: 20px;
  border-radius: 6px;
  animation: line 15s;
}

.line5{
  width: 50px;
  background-color: rgb(231, 222, 222);
  height: 15px;
  margin-top: 20px;
  border-radius: 6px;
  animation: line 15s;
}

.line6{
  width: 130px;
  background-color: rgb(231, 222, 222);
  height: 15px;
  margin-top: 20px;
  border-radius: 6px;
  animation: line 15s;
}
.line7{
  width: 130px;
  background-color: rgb(231, 222, 222);
  height: 15px;
  margin-top: 20px;
  border-radius: 6px;
  animation: line 15s;
}


@keyframes line {
  0%{
      width: 0%;
  }100%{
      width: 90%;
  }
}

p{
  font-size: 20px;
}

@keyframes line1 {
  0%{
      width: 0%;
  }100%{
      width: 80%;
  }
}

@keyframes line2 {
  0%{
      width: 0%;
  }100%{
      width: 70%;
  }
}

@keyframes line3 {
  0%{
      width: 0%;
  }100%{
      width: 60%;
  }
}
@keyframes line4 {
  0%{
      width: 0%;
  }100%{
      width: 60%;
  }
}

@keyframes line5 {
  0%{
      width: 0%;
  }100%{
      width: 40%;
  }
}

@keyframes line6 {
  0%{
      width: 0%;
  }100%{
      width: 80%;
  }
}
@keyframes line7 {
  0%{
      width: 0%;
  }100%{
      width: 80%;
  }
}
@media (min-width:325px) and (max-width:500px){
  .boss{
    
     display: block;
     overflow: hidden;
    margin-top: 100px;
    margin-bottom: 20px;
  }
 
.box3{
  width: 50%;
  height: 150px;
  margin-left: 90px;
  margin-bottom: 10px;
}
  .border{
  display: none;
  }
  }
 

  @media (min-width:198px) and (max-width:325px){
      .boss{
        
         display: block;
         overflow: hidden;
        margin-top: 100px;
        margin-bottom: 20px;
      }
     
  .box3{
      width: 70%;
      height: 150px;
      margin-left: 40px;
      margin-bottom: 10px;
  }
      .border{
      display: none;
      }
      }
     
      @media (min-width:500px) and (max-width:700px){
          .boss{
 border: 10px solid whitesmoke;
 border-radius: 10px;
 box-shadow: 2px 2px 4px 9px whitesmoke;
 height:900px;
       width: 50%;
 margin-left: 130px;
             display: block;
             overflow: hidden;
            margin-top: 140px;
            margin-bottom: 20px;
          }
         
      .box3{
          width: 70%;
          height: 150px;
          margin-left: 40px;
          margin-bottom: 10px;
      }
          .border{
          margin-top: 150px;
          }
          }
         
          @media (min-width:700px) and (max-width:900px){
              .boss{
     margin-left: 130px;
                 display: block;
                 overflow: hidden;
                margin-top: 140px;
                margin-bottom: 20px;
              }
             
          .box3{
              width: 70%;
              height: 150px;
              margin-left: 40px;
              margin-bottom: 10px;
          }
              .border{
              margin-top: 150px;
              }
              }
              @media (min-width:900px) and (max-width:1200px){
                  .boss{
         margin-left: 130px;
                     display: inline-block;
                     overflow: hidden;
                    margin-top: 140px;
                    margin-bottom: 20px;
                  }
                 
              .box3{
                  width: 70%;
                  height: 150px;
                  margin-left: 70px;
                  margin-bottom: 10px;
              }
                  .border{
                  margin-top: 150px;
                  }
                  }

                  @media (min-width:1200px) and (max-width:1400px){
                      .boss{
             margin-left: 130px;
                         display: inline-flex;
                         overflow: hidden;
                        margin-top: 140px;
                        margin-bottom: 20px;
                      }
                     
                  .box3{
                      width: 70%;
                      height: 150px;
                      margin-left: 70px;
                      margin-bottom: 10px;
                  }
                      .border{
                      margin-top: 150px;
                      width: auto;
                      }
                      }

 /* started from here about section */

.main-head{
  display: flex;  
 flex-wrap: wrap;  
justify-content: center;   
text-align: center;
} 
 
.box1{
  border: 6px solid rgb(80, 80, 80);
  border-radius: 3px;
  width:30%;
margin: 20px;
font-size: 18px;
box-shadow: 2px 3px 4px 8px ;
color: rgb(80, 80, 80);
height: 260px;
}

h2{
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  color: rgb(235, 220, 220);
}
 .para{
  color: #f0f0f0;
  width: 400px;
  text-align: center;
  margin: 10px;
}

.box2{
  border: 8px solid rgb(80, 80, 80);
  width: auto;
  height: auto;
  border-radius: 2px;
}

h1{
  color: antiquewhite;
  font-size: 30px;
  text-align: center;
} 

/* projects work */

.imagep{
  width: 400px;
  height: 300px;
  border-radius: 10px;

}

.box5{
  width: 300px;
  height: 390px;
  border: 8px solid rgb(80, 80, 80);
  text-align: center;
  margin-top: 20px;
  margin-left: 60px;
  border-radius: 10px;
  box-shadow: 2px 3px 4px 8px;
  color: rgb(80, 80, 80);
  margin-bottom: 50px;
  
}
.bt{
  background-color: rgb(211, 202, 202);
  border-radius: 5px;
  border: 8px solid rgb(80, 80, 80) ;
  color: rgb(0, 0, 0);
  box-shadow: 1px 2px 3px 3px;
  margin-top: 10px;
}

.box4{
  display: flex;  
  flex-wrap: wrap;  
 justify-content: center;   
 text-align: center;
 
}

@media (min-width:270px) and (max-width:520px){
  .main-head{
    display: block;
    margin-top: 140px;
  }
 .box1{
  width: auto;
  margin-bottom: 50px;
 }

 .para{
  width: auto;
  font-size: 16px;
 }

 .box5{
  width: auto;
  margin-right: 40px;
 }

}

@media (min-width:520px) and (max-width:700px){
  .main-head{
    display: block;
    margin-top: 140px;
  }
 .box1{
  width: auto;
  margin-bottom: 50px;
 }

 .para{
  width: auto;
  font-size: 23px;
 }

 .box5{
  width: auto;
  margin-right: 40px;
 }
}

@media (min-width:700px) and (max-width:900px){
  .main-head{
    margin-top: 140px;
  }
 .box1{
  width: auto;
  margin-bottom: 50px;
 }

 .para{
  width: auto;
  font-size: 28px;
 }

 .box5{
  width: auto;
  margin-right: 40px;
 }
}
@media (min-width:900px) and (max-width:1200px){
  .main-head{
    margin-top: 140px;
  }
 .box1{
  width: auto;
  margin-bottom: 50px;
 }

 .para{
  width: auto;
  font-size: 30px;
 }

 .box5{
  width: auto;
  margin-right: 40px;
 }
 h2{
  font-size: 35px;
}
}


@media (min-width:1200px) and (max-width:1400px){
  .main-head{
    margin-top: 140px;
  }
 .box1{
  width:550px;
  margin-bottom: 50px;
  
 }

 .para{
  text-align: center;
  font-size: 17px;
  margin-left:50px ;
 }

 .box5{
  width: auto;
  margin-right: 40px;
 }
 h2{
  font-size: 35px;
}
}

@media (min-width:315px) and (max-width:380px){
  .main-head{
    display: block;
    margin-top: 140px;
  }
 .box1{
  width: auto;
  margin-bottom: 50px;
 }

 .para{
  width: auto;
  font-size: 16px;
 }

 .box5{
  width: auto;
  margin-right: 40px;
 }
.imagep{
  height: 270px;
}
}



/* contact page css start fron here   */

.box6{
  margin: 200px;
  margin-left: 550px;
  margin-top: 20px;
  justify-content: center;
  /* background-color: rgba(119, 112, 112, 0.7); */
  background-color: rgba(0, 0, 1, 0.8);
  box-shadow: 2px 3px 4px 9px;
  border-radius: 10px;
  border: 10px solid whitesmoke;
  color: rgb(255, 255, 255);
  width: 500px;
  height: 520px;
  animation: pulse 2s infinite; 
  margin-bottom: 20px;
} 

@keyframes pulse {
  0% {
 
    box-shadow: 8px 8px 15px 5px rgba(255, 255, 255, 0.5);
  }
  0%{
 
    box-shadow: 8px 8px 20px 10px rgba(255, 250, 250, 0.6); 
  }
  0% {
    
    box-shadow: 5px 5px 15px 5px rgb(255, 255, 255);
  }
} 


form{
  color: rgb(255, 255, 255);
  margin: 20px;
  text-align: center;
 margin-top: -10px;
 
}


input{
  background-color: rgb(121, 109, 109);
  border: 3px solid whitesmoke;
  border-radius: 4px;
  width: 300px;
  margin-bottom: 10px;
}



.h11{
  font-size: 30px;
}

.pp{
text-align: center;
  width: 350px;
  margin:30px;
  margin-left: 60px;
}

textarea{
 height:150px;
 background-color: rgb(121, 109, 109);
 width: 300px;
 border: 5px solid whitesmoke;
}

.image{
  background-color: unset;
  border: unset;
  margin-top: -100px;
  margin-left: -160px;
  height: 270px;
  width: 200px;
}
 .im{
  width: 50px;
  height: 50px;
  margin-top: -200px;
  margin-left: 250px;
 }

 .ime{
  width: 50px;
  height: 50px;
  margin-top: -50px;
  margin-left: 310px;

 
  
 }

 .instaa{
  width: 50px;
  height: 50px;
  margin-top: -50px;
  margin-left: 370px;

 }

 .face{
  width: 50px;
  height: 50px;
  margin-left: 420px;
 }

.fac{
  margin-top: -50px;
}


@media (min-width:280px) and (max-width:312px){
  .box6{
    position: fixed;
  margin-left: 28px;
  margin-top: 150px;
  width: 231px;
   overflow-x: hidden;
   overflow-y: hidden;
  }
  
   input{
   width: auto;
  
  } 
  
  .pp{
    margin-top: -4px;
    text-align: center;
    font-size: 14px;
    width: auto;
  }
  
  
 textarea{
  width: auto;
 }

 .image{
  width: 200px;
  margin-left: -120px;
  width: 150px;
 }
  


 .im{
    width: 28px;
    margin-left: 95px;
 }

 .ime{
  width: 28px;
    margin-left: 125px;
 }
 .face{
  width: 50px;
  margin-left: 170px;
 }
 .instaa{
  width: 30px;
  margin-left: 155px;
 }
}

@media (min-width:312px) and (max-width:370px){
  .box6{
  margin-left: 36px;
  margin-top: 150px;
  width: 265px;
   overflow-x: hidden;
   overflow-y: hidden;
   height: 470px;
  }
  
   input{
   width: auto;
  
  } 
  
  .pp{
    margin-top: -4px;
    text-align: center;
    font-size: 14px;
    width: auto;
    margin-left: 20px;
  }
  
  
 textarea{
  width: auto;
 }

 .image{
  width: 200px;
  margin-left: -140px;
  width: 140px;
 }
  


 .im{
    width: 28px;
    margin-left:105px;
 }

 .ime{
  width: 28px;
    margin-left: 134px;
 }
 .face{
  width: 50px;
  margin-left: 180px;
 }
 .instaa{
  width: 30px;
  margin-left: 164px;
 }
}

@media (min-width:370px) and (max-width:500px){
  .box6{
  
  margin-left: 36px;
  margin-top: 150px;
  width: 290px;
   
   overflow-y: hidden;
   height: 450px;
  }
  
   input{
   width: auto;
  
  } 
  
  .pp{
    margin-top: -4px;
    text-align: center;
    font-size: 14px;
    width: auto;
    margin-left: 20px;
  }
  
  
 textarea{
  width: auto;
 }

 .image{
  width: 150px;
  margin-left: -150px;
 }
  


 .im{
    width: 38px;
    margin-left:117px;
 }

 .ime{
  width: 40px;
    margin-left: 156px;
 }
 .face{
  width: 50px;
  margin-left: 227px;
 }
 .instaa{
  width: 40px;
  margin-left: 198px;
 }
}


@media (min-width:410px) and (max-width:500px){
  .box6{

  margin-left: 36px;
  margin-top: 150px;
  width: 350px;
   
   overflow-y: hidden;
   height: 480px;
  }
  
  
  
  .pp{
    margin-top: -4px;
    text-align: center;
    font-size: 14px;
    width: auto;
    margin-left: 20px;
  }
  
  
textarea{
 /* margin-block-end: 200px; */
 margin-left:20px;
 width: 230px;
 
}

.image{
  margin-top: -90px;
  margin-left: -190px;
}
  


 .im{
    width: 42px;
    margin-left:117px;
 }

 .ime{
  width: 43px;
    margin-left: 167px;
 }
 .face{
  width: 54px;
  margin-left: 264px;
 }
 .instaa{
  width: 50px;
  margin-left: 220px;
 }
}


@media (min-width:500px) and (max-width:579px){
  .box6{

  margin-left: 40px;
  margin-top: 150px;
  width: 450px;
   
   overflow-y: hidden;
   height: 480px;
  
  }
  
  
  
  .pp{
    margin-top: -4px;
    text-align: center;
    font-size: 18px;
    width: auto;
    margin-left: 20px;
  }
  
  
textarea{
 /* margin-block-end: 200px; */
 margin-left:-10px;
 width: 280px;
 
}

.image{
  margin-top: -90px;
  margin-left: -190px;
}
  


 .im{
    width: 42px;
    margin-left:190px;
 }

 .ime{
  width: 43px;
    margin-left: 240px;
 }
 .face{
  width: 54px;
  margin-left: 340px;
 }
 .instaa{
  width: 50px;
  margin-left: 290px;
 }
}

@media (min-width:579px) and (max-width:721px){
  .box6{

  margin-left: 90px;
  margin-top: 150px;
  width: 480px;
   
   overflow-y: hidden;
   height: 480px;
  
  }
  
  
  
  .pp{
    margin-top: -4px;
    text-align: center;
    font-size: 18px;
    width: auto;
    margin-left: 20px;
  }
  
  
textarea{
 /* margin-block-end: 200px; */
 margin-left:-10px;
 width: 280px;
 
}

.image{
  margin-top: -90px;
  margin-left: -190px;
}
  


 .im{
    width: 42px;
    margin-left:200px;
 }

 .ime{
  width: 43px;
    margin-left: 250px;
 }
 .face{
  width: 54px;
  margin-left: 350px;
 }
 .instaa{
  width: 50px;
  margin-left: 300px;
 }
}

@media (min-width:721px) and (max-width:880px){
  .box6{

  margin-left: 170px;
  margin-top: 5px;
  width: 480px;
   
   overflow-y: hidden;
   height: 480px;
  
  }
  
  
  
  .pp{
    margin-top: -4px;
    text-align: center;
    font-size: 18px;
    width: auto;
    margin-left: 20px;
  }
  
  
textarea{
 /* margin-block-end: 200px; */
 margin-left:-10px;
 width: 280px;
 
}

.image{
  margin-top: -90px;
  margin-left: -190px;
}
  


 .im{
    width: 42px;
    margin-left:200px;
 }

 .ime{
  width: 43px;
    margin-left: 250px;
 }
 .face{
  width: 54px;
  margin-left: 350px;
 }
 .instaa{
  width: 50px;
  margin-left: 300px;
 }
}



@media (min-width:1000px) and (max-width:1200px){
  .box6{

  margin-left: 340px;
  margin-top: 15px;
  width: 480px;
   
   overflow-y: hidden;
   height: 480px;
  
  }
  
  
  
  .pp{
    margin-top: -4px;
    text-align: center;
    font-size: 18px;
    width: auto;
    margin-left: 20px;
  }
  
  
textarea{
 /* margin-block-end: 200px; */
 margin-left:-10px;
 width: 280px;
 
}

.image{
  margin-top: -90px;
  margin-left: -190px;
}
  


 .im{
    width: 42px;
    margin-left:200px;
 }

 .ime{
  width: 43px;
    margin-left: 250px;
 }
 .face{
  width: 54px;
  margin-left: 350px;
 }
 .instaa{
  width: 50px;
  margin-left: 300px;
 }
}

@media (min-width:880px) and (max-width:1000px){
  .box6{

  margin-left: 240px;
  margin-top: 15px;
  width: 480px;
   
   overflow-y: hidden;
   height: 480px;
  
  }
  
  
  
  .pp{
    margin-top: -4px;
    text-align: center;
    font-size: 18px;
    width: auto;
    margin-left: 20px;
  }
  
  
textarea{
 /* margin-block-end: 200px; */
 margin-left:-10px;
 width: 280px;
 
}

.image{
  margin-top: -90px;
  margin-left: -190px;
}
  


 .im{
    width: 42px;
    margin-left:200px;
 }

 .ime{
  width: 43px;
    margin-left: 250px;
 }
 .face{
  width: 54px;
  margin-left: 350px;
 }
 .instaa{
  width: 50px;
  margin-left: 300px;
 }
}

@media (min-width:1000px) and (max-width:1200px){
  .box6{

  margin-left: 340px;
  margin-top: 15px;
  width: 480px;
   
   overflow-y: hidden;
   height: 480px;
  
  }
  
  
  
  .pp{
    margin-top: -4px;
    text-align: center;
    font-size: 18px;
    width: auto;
    margin-left: 20px;
  }
  
  
textarea{
 /* margin-block-end: 200px; */
 margin-left:-10px;
 width: 280px;
 
}

.image{
  margin-top: -90px;
  margin-left: -190px;
}
  


 .im{
    width: 42px;
    margin-left:200px;
 }

 .ime{
  width: 43px;
    margin-left: 250px;
 }
 .face{
  width: 54px;
  margin-left: 350px;
 }
 .instaa{
  width: 50px;
  margin-left: 300px;
 }
}

 @media (min-width:1200px) and (max-width:1300px){
  .box6{

  margin-left: 370px;
  margin-top: 15px;
  width: 480px;
   
   overflow-y: hidden;
   height: 480px;
  
  }
  
  
  
  .pp{
    margin-top: -4px;
    text-align: center;
    font-size: 18px;
    width: auto;
    margin-left: 20px;
  }
  
  
textarea{
 margin-block-end: 200px; 
 margin-left:-10px;
 width: 280px;
 
}

.image{
  margin-top: -90px;
  margin-left: -190px;
}
  


 .im{
    width: 42px;
    margin-left:200px;
 }

 .ime{
  width: 43px;
    margin-left: 250px;
 }
 .face{
  width: 54px;
  margin-left: 350px;
 }
 .instaa{
  width: 50px;
  margin-left: 300px;
 }
} 

.footer{
  text-align: center;
 
}

#project{
  width: 50px;
  display: inline;
  margin-top: 20px;
 
}

.connect{
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  color: aliceblue;
  text-align: center;
  text-shadow: 2px 2px 5px ;
 
}

.connect:hover{
  text-shadow: 2px 2px 5px ;
}

@media (min-width:250px) and (max-width:400px){
 .connect{
  margin-top: -40px;
  overflow-y:hidden ;
 }
}

@media (min-width:720px) and (max-width:880px){
 .connect{
  margin-top: 350px;
 }
 }

 @media (min-width:880px) and (max-width:1400px){
  .connect{
   margin-top: 390px;
  }
  }


  #project1{
    width: 50px;
    display: inline;
    margin-top: 20px;
   
  }
  
  .connect1{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
    text-shadow: 2px 2px 5px ;
   
  }
  
  .connect1:hover{
    text-shadow: 2px 2px 5px ;
  }
  
  @media (min-width:250px) and (max-width:400px){
   .connect1{
    margin-top: -40px;
    overflow-y:hidden ;
   }
  }
  
  @media (min-width:720px) and (max-width:880px){
   .connect1{
    margin-top: 80px;
   }
   }
  
   @media (min-width:880px) and (max-width:1400px){
    .connect1{
     margin-top: 70px;
    }
    }

  